.headlth {
    background-color: #ffffff;
    padding: 17px 20px 50px;
  &__header {
    @include flex();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    p {
      font-weight: bold;
      @include font-size(21.99px);
    }
    a {
      color: #01ADAB;
      @include font-size(18.5px);

      img {
        margin-left: 8px;
      }
    }
  }

  &__content {
    @include flex();
    flex-wrap: wrap;

    .content__main {
      width: 50%;
      padding-right: 25px;
      @media #{$info-tablet-vertical} {
        width: 100%;
        padding-right: 0;
      }

      .main__item {
        @include flex();
        align-items: center;
        margin-bottom: 37px;
        @media screen and (max-width: 375px) {
          flex-wrap: wrap;
          justify-content: center;
        }
        &:last-child {
          margin-bottom: 0;
        }

        .item__img {
          width: 50%;
          @media #{$info-tablet-vertical} {
            width: auto;
          }
          @media screen and (max-width: 375px) {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
        }

        .item__text {
          margin-left: 15px;
          @media screen and (max-width: 375px) {
            text-align: center;
          }
          h4 {
            color: #505050;
            @include font-size(21.99px);
            margin-bottom: 5px;
          }

          p {
            color: #000000;
            @include font-size(14.63px);
            font-family: UTM-intel-italic;
          }
        }
      }
    }

    .content__right {
      width: 50%;
      margin-top: 25px;
      border-top: 1px solid #E2E3E4;
      position: relative;
      @media #{$info-tablet-vertical} {
        width: 100%;
      }

      .right__title {
        position: absolute;
        top: -16px;
        left: 0;
        color: #01B1AF;
        @include font-size(21.99px);
        font-family: UTM-intel-Bold;
        display: inline-block;
        background-color: #ffffff;
      }

      .right__item {
        @include flex();
        border-top: 1px solid #E2E3E4;
        padding-top: 8px;
        @media #{$info-tablet-vertical} {
          width: 100%;
        }

        &:nth-child(2) {
          border-top: unset;
          padding-top: 30px;
        }

        img {
          margin-bottom: 15px;
        }

        .item__text {
          padding-left: 10px;

          h4 {
            color: #505050;
            @include font-size(21.99px);
            font-family: UTM-intel-Bold;
            margin-bottom: 5px;
          }

          p {
            @include font-size(11.67px);
            font-family: UTM-intel-italic;
          }
        }
      }
    }
  }

}
