.hot {
  padding: 20px 0;
  background-color: #ffffff;

  &__header {
    @include flex();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 33.5px;
    .header__title {
      @include flex();
      align-items: center;
      span {
        @include font-size(22px);
        font-family: UTM-intel-Bold;
        color: #505050;
        margin-left: 10px;
      }
    }

    a {
      color: #01ADAB;
      @include font-size(18.5px);
    }
  }

  &__slider {
    @include flex();

    .slider__item {
      width: calc(100% / 3);
    }
  }
}
