.hot {
  background-color: #ffffff;

  &__header {
    @include flex();
    justify-content: space-between;
    align-items: center;
    padding: 15px 33.5px;
    @media screen and (max-width: 375px) {
      padding: 15px 20px;
    }
    .header__title {
      @include flex();
      align-items: center;
      img {
        height: 40px;
      }
      span {
        @include font-size(22px);
        font-family: UTM-intel-Bold;
        color: #505050;
        margin-left: 10px;
      }
    }

    a {
      color: #01ADAB;
      @include font-size(18.5px);
    }
  }

  &__slider {
    @include flex();
    padding-bottom: 25px;
    .slider__item {
      width: calc(100% / 3);
    }
    .slick-dots {
      margin-bottom: 15px;
    }
  }
}
