.medicine, .main-section {
  padding: 20px 10px;

  .container {
    padding-top: 19.5px;
    background-color: #ffffff;
  }

  &__header {
    margin-bottom: 19px;

    span {
      margin-right: 10px;
      color: #505050;
      @include font-size(22px);
      font-family: UTM-intel-Bold;
    }
  }

  &__content {
    @include flex();
    flex-wrap: wrap;

    .content__item {
      width: calc(100% / 5);
      position: relative;
      padding-top: 40px;
      padding-bottom: 20px;
      border-right: 1px solid #E5E5E4;
      border-top: 1px solid #E5E5E4;
      padding-left: 20px;
      @media #{$info-tablet-vertical} {
        width: calc(100% / 3);
      }
      @media #{$info-phone} {
        width: calc(100% / 2);
      }
      @media #{$info-500} {
        width: 100%;
        border-right: unset;
        text-align: center;
      }

      &:last-child {
        border-right: unset;
        @media #{$info-tablet-vertical} {
          border-right: 1px solid #E5E5E4;
        }
        @media #{$info-500} {
          border-right: unset;
        }
      }

      &:nth-child(3) {
        text-align: center;
      }

      .item__bouns {
        position: absolute;
        top: 20px;
        right: 10px;

        img {
          display: block;
          margin-bottom: 8px;
        }
      }

      .item__info {
        text-align: left;
        margin-top: 15px;

        p {
          color: #020202;
          @include font-size(16.09px);
        }

        span {
          display: block;
          color: #E42F43;
          @include font-size(16.76px);
          font-family: UTM-intel-Bold;
          margin-bottom: 5px;
        }

        .old-price {
          color: #AAAAAA;
          @include font-size(12.74px);
          text-decoration: line-through;
        }
      }

      .sale {
        position: absolute;
        top: 0;
        left: 10px;
      }
    }
  }
}
