.online {
  padding: 17px 10px 38px 34px;
  background-color: #ffffff;

  &__header {
    h4 {
      color: #505050;
      @include font-size(22px);
      font-family: UTM-intel-Bold;
    }

    p {
      color: #777777;
      @include font-size(12px);
    }
  }

  &__content {
    @include flex();
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 36.8px;

    .content__item {
      padding: 20px;
      width: (100% / 3);
      text-align: center;
      @media #{$info-phone} {
        width: 100%;
        border-bottom: 2px solid #E5E5E4;
        &:last-child {
          border-bottom: unset;
        }
      }

      .item__title {
        margin: 16px 0;
      }
    }
    .content__middle {
      border-left: 1px solid #E5E5E4;
      border-right: 1px solid #E5E5E4;
      @media #{$info-phone} {
        border-left: unset;
        border-right: unset;
      }
    }
  }

  button {
    display: block;
    text-align: center;
    background-color: #FA434E;
    color: #ffffff;
    @include font-size(15px);
    font-family: UTM-intel-Bold;
    border-radius: 5px;
    padding: 6px 15px 9px;
    margin: 0 auto;
    img {
      margin-right: 10px;
    }
  }
}
