.hot {
    padding: 10px;
    .container {
        background-color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    &__header {
        @include flex();
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__slider {
        @include flex();
        .slider__item {
            width: calc(100%/3);
        }
    }
}