.hot {
    padding: 10px;
    .container {
        background-color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    &__header {
        @include flex();
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        span {
            @include font-size(22px);
            font-family: UTM-intel-Bold;
            color: #505050;
        }
        a {
            color: #01ADAB;
            @include font-size(18.5px);
        }
    }
    &__slider {
        @include flex();
        .slider__item {
            width: calc(100%/3);
        }
    }
}