//====== path name=======
.path {
  background-color: #E2E3E4;
  padding: 16.6px 0;

  &__content {
    @include flex();

    li {
      margin-right: 12px;
      color: #808081;
      @include font-size(12px);
      &:last-child {
        color: #505050;
        font-family: UTM-intel-Bold;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}

//======= end path name =======

//======= main  ========
.main {
  @include flex();
  flex-wrap: wrap;
  padding-top: 17px;
  background-color: unset;
  //======== sidebar =======
  &__sidebar {
    width: 20%;
    @media #{$info-tablet-vertical} {
      width: 25%;
    }
    @media #{$info-phone} {
      width: 100%;
      @include flex();
      order: 2;
    }

    .sidebar__item {
      background-color: #FFFFFF;
      margin-bottom: 17px;
      @media #{$info-phone} {
        width: 50%;
        margin-bottom: 0;
      }

      &:nth-child(2) {
        margin-bottom: 0;
        @media #{$info-phone} {
          width: calc(50% - 15px);
          margin-left: 15px;
        }
      }

      .sidebar__title {
        color: #505050;
        @include font-size(15px);
        font-family: UTM-intel-Bold;
        padding: 15px;
        @media screen and (max-width: 1200px) {
          font-size: .8rem;
          img {
            height: 20px;
          }
        }
      }

      .sidebar__list {
        padding: 20px 15px 0;
        border-top: 1px solid #E5E5E4;

        .list--active {
          color: #434343;
          font-family: UTM-intel-Bold;

          i {
            color: #01ADAB;
            margin-right: 3px;
            opacity: 1;
          }
        }

        li {
          i {
            opacity: 0;
          }
        }

        // sub list
        li {
          margin-bottom: 15px;
          color: #505050;
          @include font-size(14px);

          &:last-child {
            margin-bottom: 0;
          }

          .sub__list {
            padding-top: 15px;
            margin-left: 18px;

            li {
              @include font-size(12px);
              font-family: UTM-intel;
            }
          }
        }
      }
    }
  }

  //======== end =========

  // ======= section =======
  &__section {
    width: 80%;
    padding-left: 15px;
    @media #{$info-tablet-vertical} {
      width: 75%;
    }
    @media #{$info-phone} {
      width: 100%;
      padding-left: 0;
      margin-bottom: 20px;
    }
    //======= section slider======
    .section__slider {
      margin-bottom: 20px;

      .slider__item {
        height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
      }

      .slick-dots {
        bottom: 10px;
        left: 35%;
        @media #{$info-tablet-vertical} {
          left: 30%;
        }

        li {
          height: 1.5px;
          width: 23px;
          background-color: #0099A8;
          border-radius: unset;
          opacity: .5;
          @media #{$info-tablet-vertical} {
            width: 15px;
          }
          @media screen and (max-width: 500px) {
            width: 10px;
          }
          @media screen and (max-width: 375px) {
            width: 8px;
          }
        }

        .slick-active {
          background-color: #FFFFFF;
          opacity: 1;
        }
      }
    }

    // ===== end secion slider======

    // ====== filter ======
    .section__filter {
      @include font-size(14px);
      margin-bottom: 25px;

      span {
        color: $color-main-text;
        margin-right: 15px;
      }

      button {
        background-color: #FFFFFF;
        padding: 3px 11px 6px;
        margin-right: 15px;
        border-radius: 5px;
        @media #{$info-tablet-vertical} {
          margin-bottom: 10px;
        }

        a {
          color: $color-main-text;
          @include font-size(14px);
        }
      }

      button.active {
        background-color: #FA434E;

        a {
          color: #FFFFFF;
        }
      }
    }

    // ====== end filter======

    // ====== product =======
    .section__content {
      @include flex();
      background-color: #FFFFFF;

      .content__item {
        width: calc(100% / 4);
        position: relative;
        padding: 40px 20px 20px;
        border-right: 1px solid #E5E5E4;
        border-top: 1px solid #E5E5E4;
        @media screen and (max-width: 1200px) {
          width: calc(100% / 3);
          text-align: center;
        }
        @media #{$info-tablet-vertical} {
          width: calc(100% / 2);
        }
        @media #{$info-phone} {
          width: calc(100% / 3);
          .item__img {
            .img__size {
              height: 100px;
            }
          }
        }
        @media screen and (max-width: 575px) {
          width: calc(100% / 2);
        }
        @media screen and (max-width: 390px) {
          min-width: 250px;
          border: 2px solid #E5E5E4;
        }

        &:last-child {
          border-right: unset;
          @media #{$info-tablet-vertical} {
            border-right: 1px solid #E5E5E4;
          }
          @media #{$info-500} {
            border-right: unset;
          }
        }

        .item__info {
          text-align: left;
          margin-top: 15px;

          p {
            color: #020202;
            @include font-size(16.09px);
          }

          span {
            display: block;
            color: #E42F43;
            @include font-size(16.76px);
            font-family: UTM-intel-Bold;
            margin-bottom: 5px;
          }

          .old-price {
            color: #AAAAAA;
            @include font-size(12.74px);
            text-decoration: line-through;
          }
        }

        .sale {
          position: absolute;
          top: 0;
          left: 10px;
        }
      }
    }

    // ====== end product ======

    // ==== seen =====
    .section__seen {
      background-color: #FFFFFF;

      h4 {
        padding: 13px 20px 15px;
        color: $color-main-text;
        @include font-size(15px);
        font-family: UTM-intel-Bold;
      }
    }
  }

  // ======= end section ========
}

//====== End main ======

