//====== path name=======
.path {
  background-color: #E2E3E4;
  padding: 16.6px 0;
  &__content {
    @include flex();
    li {
      &:last-child {
        color: #505050;
      }
      margin-right: 8px;
      color: #808081;
      @include font-size(12px);
      i {
        color: #808081;
        @include font-size(15.75px);
      }
    }
  }
}
//======= end path name =======

//======= main  ========
.main {
  @include flex();
  flex-wrap: wrap;
  padding-top: 17px;
  &__sidebar {
    width: 20%;
    .sidebar__item {
      background-color: #FFFFFF;
      padding-top: 20px;
      margin-bottom: 17px;
      &:last-child {
        margin-bottom: 0;
      }
      .sidebar__title {
        color: #505050;
        @include font-size(15px);
        font-family: UTM-intel-Bold;
        padding-bottom: 20px;
        padding-left: 15px;
      }
    .sidebar__list {
      padding-top: 20px;
      padding-left: 15px;
      border-top: 1px solid #E5E5E4;
      .list--active {
        color: #434343;
        font-family: UTM-intel-Bold;
        margin-left: 0;
        i {
          color: #01ADAB;
          margin-right: 3px;
        }
      }
      li {
        margin-bottom: 15px;
        color: #505050;
        @include font-size(14px);
        margin-left: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        .sub__list {
          padding-top: 15px;
          margin-left: 18px;
          li {
            @include font-size(12px);
            font-family: UTM-intel;
          }
        }
      }
    }
    }
  }
}
//====== End main ======

