//====== path name=======
.path {
  background-color: #E2E3E4;
  padding: 16.6px 0;
  &__content {
    @include flex();
    li {
      &:last-child {
        color: #505050;
        font-family: UTM-intel-Bold;
      }
      margin-right: 8px;
      color: #808081;
      @include font-size(12px);
      i {
        color: #808081;
        @include font-size(15.75px);
      }
    }
  }
}
//======= end path name =======

//======= main  ========
.main {
  @include flex();
  flex-wrap: wrap;
  padding-top: 17px;
  //======== sidebar =======
  &__sidebar {
    width: 20%;
    @media #{$info-phone} {
      display: none;
    }
    .sidebar__item {
      background-color: #FFFFFF;
      padding-top: 20px;
      margin-bottom: 17px;
      &:nth-child(2) {
        margin-bottom: 0;
        @media #{$info-tablet-vertical} {
          display: none;
        }
      }
      .sidebar__title {
        color: #505050;
        @include font-size(15px);
        font-family: UTM-intel-Bold;
        padding-bottom: 20px;
        padding-left: 15px;
      }
    .sidebar__list {
      padding-top: 20px;
      padding-left: 15px;
      border-top: 1px solid #E5E5E4;
      .list--active {
        color: #434343;
        font-family: UTM-intel-Bold;
        margin-left: 0;
        i {
          color: #01ADAB;
          margin-right: 3px;
        }
      }
      li {
        margin-bottom: 15px;
        color: #505050;
        @include font-size(14px);
        margin-left: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        .sub__list {
          padding-top: 15px;
          margin-left: 18px;
          li {
            @include font-size(12px);
            font-family: UTM-intel;
          }
        }
      }
    }
    }
  }
  //======== end =========

  // ======= section =======
  &__section {
    width: 80%;
    padding-left: 15px;
    @media #{$info-phone} {
      width: 100%;
    }
    //======= section slider======
    .section__slider {
      margin-bottom: 20px;
      .slider__item {
        height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
      }
    }
    // ===== end secion slider======

    // ====== filter ======
    .section__filter {
      @include font-size(14px);
      margin-bottom: 25px;
      span {
        color: $color-main-text;
        margin-right: 15px;
      }
      button {
        background-color: #FFFFFF;
        padding: 3px 11px 6px;
        margin-right: 15px;
        border-radius: 5px;
        @media #{$info-500} {
          margin-bottom: 10px;
        }
        a {
          color: $color-main-text;
          @include font-size(14px);
        }
      }
      button.active {
        background-color: #FA434E;
        a {
          color: #FFFFFF;
        }
      }
    }
    // ====== end filter======

    // ====== product =======
    .section__content {
      @include flex();
      flex-wrap: wrap;
      background-color: #FFFFFF;
      .content__item {
      width: calc(100% / 4);
      position: relative;
      padding-top: 40px;
      padding-bottom: 20px;
      border-right: 1px solid #E5E5E4;
      border-top: 1px solid #E5E5E4;
      padding-left: 20px;
      @media screen and (max-width: 1200px) {
        width: calc(100% / 3);
        text-align: center;
      }
      @media #{$info-tablet-vertical} {
        width: calc(100% / 2);
      }
      @media #{$info-500} {
        width: 100%;
        border-right: unset;
        text-align: center;
      }

      &:last-child {
        border-right: unset;
        @media #{$info-tablet-vertical} {
          border-right: 1px solid #E5E5E4;
        }
        @media #{$info-500} {
          border-right: unset;
        }
      }

      &:nth-child(3) {
        text-align: center;
      }

      .item__bouns {
        position: absolute;
        top: 20px;
        right: 10px;

        img {
          display: block;
          margin-bottom: 8px;
        }
      }

      .item__info {
        text-align: left;
        margin-top: 15px;

        p {
          color: #020202;
          @include font-size(16.09px);
        }

        span {
          display: block;
          color: #E42F43;
          @include font-size(16.76px);
          font-family: UTM-intel-Bold;
          margin-bottom: 5px;
        }

        .old-price {
          color: #AAAAAA;
          @include font-size(12.74px);
          text-decoration: line-through;
        }
      }

      .sale {
        position: absolute;
        top: 0;
        left: 10px;
      }
    }
    }
    // ====== end product ======

    // ===== pagination=====
    .section__pagination {
      text-align: right;
      .pagination {
        li {
          a {
            @include font-size(15.75px);
            font-family: Myriad-Pro-Regular;
            color: #808081;
            background-color: #EBEBEB;
            border: unset;
            padding: 0 6px;
            border-radius: 5px;
          }
          &:last-child {
            a {
              border: 1px solid #808081;
            }
          }
        }
        .disabled {
            a {
              background-color: $color-main;
              color: #FFFFFF;
            }
          }
      }
    }
    // ===== end pagination=====

    // ==== seen =====
    .section__seen {
      background-color: #FFFFFF;
      h4 {
        padding: 13px 20px 15px;
        color: $color-main-text;
        @include font-size(15px);
        font-family: UTM-intel-Bold;
      }
    }
  }
  // ======= end section ========
}
//====== End main ======

