main {
    .single {
        &-detail {
            width: 100%;
            padding: 0 43px 49px;
            @media #{$info-phone} {
                padding: 0 15px;
            }
            h4 {
                @include font-size(26px);
                margin-bottom: 20px;
            }
        }
    }
}