main {
    .user {
        &__info {
            .info__header {
                @include flex();
                align-items: center;
                justify-content: space-between;
                .header__btn {
                    button {
                        color: #EA4036;
                        background-color: unset;
                        @include font-size(14px);
                    }
                    .btn__search {
                        @include font-size(13.29px);
                        font-weight: bold;
                        background-color: #8F9194;
                        color: #FFFFFF;
                        margin-left: 8px;
                        padding: 8px 15px 10px;
                        transform: translateY(-7px);
                        &::before {
                            left: -5px;
                        }
                        &::after {
                            content: "";
                            height: 0;
                            width: 0;
                            position: absolute;
                            top: 0;
                            right: -5px;
                            transform: rotate(90deg);
                            border-bottom: 5px solid #58595B;
                            border-left: 5px solid transparent; 
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
            .info__bill {
                p {
                    color: #000000;
                    @include font-size(14px);
                    font-weight: bold;
                    margin: 14px 20px 31px;
                    @media screen and (max-width: 1200px) {
                        margin: 14px 15px 31px;
                    }
                    span {
                        color: #808081;
                        font-weight: 400;
                    }
                }
                .bill__content {
                    border-top: 1px solid #E5E5E4;
                    .my-col-2 {
                        width: calc(100% / 12 * 2);
                    }
                    .my-col-3 {
                        width: calc(100% / 12 * 3);
                    }
                    .my-col-5 {
                        width: calc(100% / 12 * 5);
                    }
                    .content__header {
                        @include flex();
                        align-items: center;
                        text-align: center;
                        h3 {
                            color: #808081;
                            @include font-size(14px);
                            padding: 10px 20px;
                            @media screen and (max-width: 1200px) {
                                padding: 10px;
                            }
                        }
                        @media screen and (max-width: 575px) {
                            display: none;
                        }
                    }
                    .content__item {
                        border-top: 1px solid #E5E5E4;
                        @media screen and (max-width: 575px) {
                                display: none;
                            }
                        .item__info {
                            @include flex();
                            align-items: flex-start;
                            text-align: center;
                            @include font-size(14px);
                            text-align: center;
                            .info__group {
                                padding: 10px 20px;
                                color: #434343;
                                @media screen and (max-width: 1200px) {
                                    padding: 10px;
                                }
                            }
                            .info__id {
                                color: $color-main;
                            }
                            .info__product {
                                margin: 0;
                                text-align: left;
                                padding: 10px 15px;
                                font-weight: 400;
                            }
                        }
                        
                    }
                    // ====== content item responsive 575px ======
                    .content__sub {
                        padding: 15px;
                        display: none;
                        @media screen and (max-width: 575px) {
                            display: block;
                        }
                        .sub__item {
                            margin-bottom: 15px;
                            border-bottom: 1px solid #E5E5E4;
                            &:last-child {
                                border-bottom:  unset;
                            }
                            h2 {
                                @include font-size(20px);
                                color: #000000;
                                margin-bottom: 15px;
                                line-height: 20px;
                                @media screen and (max-width: 475px) {
                                    @include font-size(16px)
                                }
                            }
                            p {
                                margin:  0 0 10px 0;
                                .info__id {
                                    color: $color-main;
                                }
                            }
                        }
                    }
                    // ====== end =====
                }
                .bill__pagination {
                    background-color: #EBEBEB;
                }
            }
        }
    }
}

// ====== modal user management bill ======
#Modal-bill-search {
    .modal-content {
        .modal__main {
            .day__book {
                @include flex();
                align-items: center;
                margin-left: -16px;
                .book__form {
                    width: calc((100% / 2) - 16px);
                    margin-left: 16px;
                }
            }
            .form__group {
                position: relative;
                    i {
                        position: absolute;
                        bottom: 12px;
                        right: 10px;
                        cursor: pointer;
                    }
            }
            .main__btn {
                button {
                    i {
                        margin-right: 8px;
                    }
                }
                .black {
                    background-color: unset;
                    color: #EA4036;
                    @include font-size(16px);
                }
            }
        }
    }
}
// ====== end =============