.header {
  background-color: $color-main;
  padding: 10px 0;
  &__top {
    text-align: right;
    @include flex();
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    @media #{$info-phone} {
      display: none;
    }
    &__hot {
      margin-right: 73.5px;
    }
    &__nofication {
      margin-right: 68px;
    }
    &--group {
      display: flex;
      align-items: center;
      color: #FFFFFF;
      img {
        margin-right: 5px;
      }
      .text {
        span {
          @include font-size(11.58px);
          text-align: left;
          line-height: 14.06px;
          display: block;
        }
      }
      .title {
          @include font-size(13.2px);
          font-family: UTM-intel-Bold;
      }
    }
  }
  &__middle{
    @include flex();
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    @media #{$info-phone} {
      display: none;
    }
    .middle__logo {
      margin-right: 30px;
    }
    .middle__search {
      width: 55%;
      position: relative;
      margin-right: 16px;
      input {
        width: 100%;
        padding: 7.5px 18px 11.7px;
        border-radius: 5px;
        @include placeholder {
          color: #838383;
          @include font-size(14.39px);
          font-family: UTM-intel-italic;
        }
      }
      .search__btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 16px 11.7px;
        background-color: #E2E3E4;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        @media #{$info-tablet-vertical} {
          background-color: unset;
        }
        span {
          @include font-size(13.29px);
          color: #838383;
          font-family: UTM-intel-Bold;
          @media #{$info-tablet-vertical} {
            display: none;
          }
        }
        i {
          color: #838383;
        }
      }
    }
    .middle__btn {
      @include flex();
      .btn__item {
        background-color: #FFFFFF;
        padding: 6.6px 8px 6.5px;
        border-radius: 5px;
        position: relative;
        @include flex();
        width: 145px;
        align-items: center;
        @media #{$info-tablet-vertical} {
          width: 120px;
        }
        &:first-child {
          margin-right: 10px;
        }
        .item__bard {
          display: block;
          position: absolute;
          right: -10px;
          top: -10px;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background-color: #FA434E;
          color: #F9FFFF;
          text-align: center;
          line-height: 20px;
        }
        img {
            margin-right: 8px;
        }
        span {
          color: #838383;
          @include font-size(13.29px);
          font-family: UTM-intel-Bold;
        }
      }
    }
  }
  &__bottom {
    text-align: right;
    margin-bottom: 10px;
    &::before,&::after {
      display: none;
    }
    @media #{$info-phone} {
      display: none;
    }
    ul {
     display: grid;
     grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr 1fr;
     .bottom__item {
       @include flex();
       align-items: center;
       justify-content: center;
        a {
          text-transform: uppercase;
          @include font-size(15.75px);
          font-family: UTM-intel-Bold;
          color: #FFFFFF;
          cursor: pointer;
          margin-left: 5px;
          @media  screen and (max-width: 1200px) {
            font-size: .6rem;
          }
        }
        .item--bg {
          text-align: center;
            display: inline-block;
            height: 28px;
            width: 28px;
            background-color: #FFFFFF;
            border-radius: 50%;
            z-index: -1;
        } 
        img {
          z-index: 2;
        }
      }
    }
  }
  // ===== header-scroll======
  &--scroll{
    background-color: $color-main;
    display: none;
    .container {
      @include flex();
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
    }
  }
  // header-responsive
  .sub__header {
    display: none;
    @media screen and (max-width: 767px){
      display: block;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .header__nav {
      @include flex();
      justify-content: space-between;
      align-items: center;
      .nav__burger {
        background: unset;
      }
      .nav__search {
        width: 65%;
        position: relative;
        margin: 0 16px;
        input {
          width: 100%;
          padding: 7.5px 18px 11.7px;
          border-radius: 5px;
          @include placeholder {
            color: #838383;
            @include font-size(14.39px);
            font-family: UTM-intel-italic;
          }
        }
        .search__btn {
          position: absolute;
          right: 0;
          top: 0;
          padding: 8px 16px 11.7px;
          background-color: #E2E3E4;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          @media #{$info-phone} {
              background-color: unset;
          }
          @media screen and (max-width: 375px) {
            display: none;
          }
          span {
            @include font-size(13.29px);
            color: #838383;
            font-family: UTM-intel-Bold;
            @media #{$info-phone} {
              display: none;
            }
          }
        }
      }
      .nav__btn {
        @include flex();
        align-items: center;
        .btn__item {
          background-color: #FFFFFF;
          padding: 6.6px 8px 6.5px;
          border-radius: 5px;
          position: relative;
          width: 145px;
          align-items: center;
          @media #{$info-phone} {
            width: unset;
          }
          &:first-child {
            margin-right: 10px;
          }
          .item__bard {
            display: block;
            position: absolute;
            right: -10px;
            top: -10px;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #FA434E;
            color: #F9FFFF;
            text-align: center;
            line-height: 20px;
          }
          span {
            color: #838383;
            @include font-size(13.29px);
            font-family: UTM-intel-Bold;
            @media #{$info-phone} {
              display: none;
            }
          }
        }
      }
    }
    .nav__bar {
      position: fixed;
      top: 21%;
      left: 0;
      height: 80vh;
      width: 0;
      padding: 15px 10px;
      background-color: $color-main;
      display: none;
      overflow: scroll;
      .bar__control {
        border-bottom: 1px solid #838383;
        padding-bottom: 10px;
        .control__item {
          @include flex();
          color: #FFFFFF;
          margin-bottom: 10px;
          img {
            margin-right: 5px;
          }
          .text {
            span {
              @include font-size(11.58px);
              text-align: left;
              line-height: 14.06px;
              display: block;
            }
          }
          .title {
              @include font-size(13.2px);
              font-family: UTM-intel-Bold;
          }
        }
      }
      ul {
        padding: 15px 0 ;
        .nav__item {
          margin-bottom: 15px;
          a {
            text-transform: uppercase;
            @include font-size(15.75px);
            font-family: UTM-intel-Bold;
            color: #FFFFFF;
            cursor: pointer;
            @media #{$info-phone-4} {
              font-size: .7rem;
            }
          }
        }
      }
    }
    .change {
      display: block;
      width: 30%;
      z-index: 2;
      @media screen and (max-width: 350px) {
        width: 45%;
      }
    }
  }
}
.nav {
  @media #{$info-phone} {

  }
  @media screen and (max-width: 767px){

  }
}